include ../mixins/ga.jade

doctype HTML

//[Joyee Cheung's resume generator](https://github.com/joyeecheung/resume)

|<!--
|	***       *    *     *    *     *    *    ******* *     * *     *     *****  *******
|	 *       * *   **   **    *     *   * *   *     * *  *  * *     *    *     * *
|	 *      *   *  * * * *    *     *  *   *  *     * *  *  * *     *    *       *
|	 *     *     * *  *  *    ******* *     * *     * *  *  * *     *    *  **** *****
|	 *     ******* *     *    *     * ******* *     * *  *  * *     *    *     * *       ***
|	 *     *     * *     *    *     * *     * *     * *  *  * *     *    *     * *       ***
|	***    *     * *     *    *     * *     * *******  ** **   *****      *****  ******* ***
|-->

<!--[if lte IE 8]>
|<html lang="#{data_lang}" class="lte-ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
|<html lang="#{data_lang}">
<!--<![endif]-->
head
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  block title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Haowu Ge')
  block style

body
  block IEcondition

  block sidebar
  .container
    main
      block header
      block content
  block footer

  if ga_id
    +ga(ga_id)
|</html>